footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 80ch;
    max-height: 60ch;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    border-width: 1px;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 22pt;
    justify-content: center;
}

main.title {
    justify-content: center;
    align-items: center;
}

main.title > h1 {
    font-size: 2em;
}

h1 {
    font-size: 1.4em;
}

ul.wide,
ol.wide > li {
    padding-bottom: 1em;
}

blockquote {
    margin-left: 1em;
    padding-left: 1em;
    border-left: solid black;
}

.figure {
    display: inline-block;
    text-align: center;
}

pre {
    line-height: 1.4em;
}

.scroll {
    max-height: 70ch;
    overflow-y: auto;
}

.title-box > p {
    text-align: center;
    font-size: 2em;
    font-variant: small-caps;
    line-height: 0.5em;
}

a.existingWikiWord {
    color: #226622
}

.thing {
    color: blue;
}
